In [1]:
#Column Transformer

In [2]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test=train_test_split(df.drop(
    columns=['has_covid']),df['has_covid'],test_size=0.2)

In [5]:
x_train

    age  gender  fever   cough       city
73   34    Male   98.0  Strong    Kolkata
53   83    Male   98.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata
80   14  Female   99.0    Mild     Mumbai
63   10    Male  100.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
26   19  Female  100.0    Mild    Kolkata
69   73  Female  103.0    Mild      Delhi
76   80    Male  100.0    Mild  Bangalore
48   66    Male   99.0  Strong  Bangalore
37   55    Male  100.0    Mild    Kolkata

[80 rows x 5 columns]

In [6]:
#Manually Type Output

In [7]:
# adding simple imputer to fever column
si=SimpleImputer(strategy='mean')
x_train_fever=si.fit_transform(x_train[['fever']])

#also the test data
x_test_cough=si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [8]:
# ordinal encoding---> Cough

oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

#also the test data
x_test_cough=oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [9]:
#OneHotEncoding --->gender , city

ohe=OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

#also the test data
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [10]:
# extracting Age
x_train_age=x_train.drop(columns=
                        ['gender','fever','cough','city']).values

#also the test data
x_test_age=x_test.drop(columns=
                        ['gender','fever','cough','city']).values

In [11]:
x_train_age.shape

(80, 1)

In [12]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,
                                   x_train_gender_city,
                                   x_train_cough),axis=1)

In [20]:
x_test_transformed=np.concatenate((x_test_age,x_train_fever,x_test_gender_city,x_test_cough))

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 1 and the array at index 2 has size 4

In [14]:
x_train_transformed.shape

(80, 7)

In [15]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [16]:
# By the help of column Transformer

In [17]:
from sklearn.compose import ColumnTransformer  #this is how to import ColumnTransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']), #in a 'fever'column by the help of SI we
    # fill missing values by mean,median,mode
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']), #by
    #this process
    # we encode our data.
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough') #remainder=passthrough==>
# it means rest all the column remain same.

In [18]:
transformer.fit_transform(x_train).shape

(80, 7)