In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\Python\Data set\placement.csv")

In [3]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [4]:
df.shape

(100, 3)

In [5]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [6]:
x=df.drop(columns=['placed'])  ###Input data
y=df['placed']   ### Target data

In [7]:
!pip install scikit-Learn

Requirement already satisfied: scikit-Learn in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-Learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-Learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-Learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-Learn) (3.5.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [10]:
print('total DataFrame shape: ', df.shape)
print('---------------------------')
print('---------------------------')
print('Input data(x) shape: ', x.shape)
print('x_train data shape: ',x_train.shape)
print('x_test data shape: ', x_test.shape)
print('---------------------------')
print('target data(y) shape: ', y.shape)
print('y_train data shape: ',y_train.shape)
print('y_test data shape: ', y_test.shape)

total DataFrame shape:  (100, 3)
---------------------------
---------------------------
Input data(x) shape:  (100, 2)
x_train data shape:  (80, 2)
x_test data shape:  (20, 2)
---------------------------
target data(y) shape:  (100,)
y_train data shape:  (80,)
y_test data shape:  (20,)

# data-2

In [11]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [12]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer

In [14]:
si=SimpleImputer(strategy='mean')

In [15]:
df['fever']=si.fit_transform(df[['fever']])

In [16]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [17]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [18]:
df.shape

(100, 6)

In [19]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [21]:
print('total DataFrame shape: ', df.shape)
print('---------------------------')
print('---------------------------')
print('Input data(x) shape: ', x.shape)
print('x_train data shape: ',x_train.shape)
print('x_test data shape: ', x_test.shape)
print('---------------------------')
print('target data(y) shape: ', y.shape)
print('y_train data shape: ',y_train.shape)
print('y_test data shape: ', y_test.shape)

total DataFrame shape:  (100, 6)
---------------------------
---------------------------
Input data(x) shape:  (100, 5)
x_train data shape:  (80, 5)
x_test data shape:  (20, 5)
---------------------------
target data(y) shape:  (100,)
y_train data shape:  (80,)
y_test data shape:  (20,)

# data-3

In [22]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")

In [23]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [24]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [25]:
x=df.drop(columns=['size'])  ###Input data
y=df['size']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [28]:
print('total DataFrame shape: ', df.shape)
print('---------------------------')
print('---------------------------')
print('Input data(x) shape: ', x.shape)
print('x_train data shape: ',x_train.shape)
print('x_test data shape: ', x_test.shape)
print('---------------------------')
print('target data(y) shape: ', y.shape)
print('y_train data shape: ',y_train.shape)
print('y_test data shape: ', y_test.shape)

total DataFrame shape:  (244, 7)
---------------------------
---------------------------
Input data(x) shape:  (244, 6)
x_train data shape:  (195, 6)
x_test data shape:  (49, 6)
---------------------------
target data(y) shape:  (244,)
y_train data shape:  (195,)
y_test data shape:  (49,)