In [2]:
# Encoding---> Transform our categorical data into Numerical data.
# because our machine can only understand maths not the single character.

# 1. LabelEncoding

In [3]:
# Apply on single column---> column(sub1,sub2....subn)--->own(0,1,2,3)

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
si=SimpleImputer()

In [10]:
df['fever']=si.fit_transform(df[['fever']])

In [11]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [12]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
lb=LabelEncoder()

In [15]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['gender'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [16]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      1     2          0
1   27       1  100.0      1     1          1
2   42       1  101.0      1     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [17]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [20]:
x_train.head()

    age  gender  fever  cough  city
55   81       0  101.0      0     3
88    5       0  100.0      0     2
26   19       0  100.0      0     2
42   27       1  100.0      1     1
69   73       0  103.0      0     1

In [21]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.41   1.30
std    24.47    0.50    1.93   0.50   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
mn=MinMaxScaler()

In [24]:
x_train_mn=mn.fit_transform(x_train)

In [25]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [26]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.41   0.43
std     0.31    0.50   0.32   0.50   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

# Tips dataset
### check missing data if possible then handle missing data.
### LabelEncoding on categorical data
### Train test split
### x_train data--->apply--->Standardization

In [27]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")

In [28]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
lb=LabelEncoder()

In [32]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['day']=lb.fit_transform(df['day'])
df['time']=lb.fit_transform(df['time'])

In [33]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [34]:
x=df.drop(columns=['size'])
y=df['size']

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [37]:
x_train.head()

     total_bill   tip  sex  smoker  day  time
228       13.28  2.72    1       0    1     0
208       24.27  2.03    1       1    1     0
96        27.28  4.00    1       1    0     0
167       31.71  4.50    1       0    2     0
84        15.98  2.03    1       0    3     1

In [38]:
np.round(x_train.describe(),2)

       total_bill     tip     sex  smoker     day    time
count      195.00  195.00  195.00  195.00  195.00  195.00
mean        20.22    3.09    0.65    0.38    1.71    0.27
std          8.77    1.43    0.48    0.49    0.93    0.45
min          5.75    1.00    0.00    0.00    0.00    0.00
25%         13.66    2.00    0.00    0.00    1.00    0.00
50%         17.92    3.00    1.00    0.00    2.00    0.00
75%         24.86    3.70    1.00    1.00    2.00    1.00
max         50.81   10.00    1.00    1.00    3.00    1.00

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
si=StandardScaler()

In [41]:
x_train_sc=si.fit_transform(x_train)

In [42]:
x_train_new=pd.DataFrame(x_train_sc, columns= x_train.columns)

In [43]:
np.round(x_train_new.describe(),2)

       total_bill     tip     sex  smoker     day    time
count      195.00  195.00  195.00  195.00  195.00  195.00
mean         0.00   -0.00   -0.00    0.00    0.00    0.00
std          1.00    1.00    1.00    1.00    1.00    1.00
min         -1.65   -1.46   -1.37   -0.79   -1.84   -0.61
25%         -0.75   -0.76   -1.37   -0.79   -0.76   -0.61
50%         -0.26   -0.06    0.73   -0.79    0.31   -0.61
75%          0.53    0.43    0.73    1.26    0.31    1.64
max          3.50    4.85    0.73    1.26    1.39    1.64

# 2. ordinal Encoding

In [44]:
# has_covid--->['yes','no']--->[0,1]

In [45]:
import numpy as np 
import pandas as pd

In [46]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [47]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [48]:
df=df.dropna()

In [49]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [50]:
df=df.drop(columns=['age','fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [51]:
df['city'].value_counts()

city
Kolkata      29
Bangalore    28
Delhi        20
Mumbai       13
Name: count, dtype: int64

In [52]:
from sklearn.preprocessing import OrdinalEncoder

In [53]:
oe= OrdinalEncoder(categories=[['Male','Female'],
                              ['Mild','Strong'],
                              ['Kolkata','Bangalore','Delhi','Mumbai'],
                              ['No','Yes']])

In [54]:
df_sc=oe.fit_transform(df)

In [55]:
df_new=pd.DataFrame(df_sc,columns=df.columns)
#df_new

# 3. OneHotEncoder

In [56]:
# column has_covid['yes','nor']---->new column(yes)

In [57]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [58]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [59]:
df=df.dropna()

In [60]:
from sklearn.preprocessing import OneHotEncoder

In [61]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [62]:
df_new=ohe.fit_transform(df[['gender','cough','city','has_covid']])

In [63]:
#df_new

# get_dummies

In [64]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [65]:
df=df.dropna()

In [66]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [67]:
df=pd.get_dummies(df,columns=['gender','cough','city','has_covid'],drop_first=True)

In [68]:
df.astype(int)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1

# tips dataset

In [69]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")

In [70]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [71]:
df=df.dropna()

In [72]:
from sklearn.preprocessing import LabelEncoder

In [73]:
lb=LabelEncoder()

In [74]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['day']=lb.fit_transform(df['day'])
df['time']=lb.fit_transform(df['time'])

In [75]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [76]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")

In [77]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [78]:
df=df.dropna()

In [79]:
df=df.drop(columns=['total_bill','tip','size'])
df.head(3)

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner

In [80]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [81]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [82]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [83]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [84]:
from sklearn.preprocessing import OrdinalEncoder

In [85]:
oe= OrdinalEncoder(categories=[['Female','Male'],
                              ['No','Yes'],
                               ['Sat','Sun','Thur','Fri'],
                              ['Dinner','Lunch']])

In [86]:
df_sc=oe.fit_transform(df)

In [87]:
df_new=pd.DataFrame(df_sc,columns=df.columns)
df_new

     sex  smoker  day  time
0    0.0     0.0  1.0   0.0
1    1.0     0.0  1.0   0.0
2    1.0     0.0  1.0   0.0
3    1.0     0.0  1.0   0.0
4    0.0     0.0  1.0   0.0
..   ...     ...  ...   ...
239  1.0     0.0  0.0   0.0
240  0.0     1.0  0.0   0.0
241  1.0     1.0  0.0   0.0
242  1.0     0.0  0.0   0.0
243  0.0     0.0  2.0   0.0

[244 rows x 4 columns]

In [88]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")

In [89]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [90]:
df=df.dropna()

In [91]:
from sklearn.preprocessing import OneHotEncoder

In [92]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [93]:
df_new=ohe.fit_transform(df[['sex','smoker','day','time']])

In [94]:
#df_new