## Standardization---> Mean=0, Standard Deviation=1-----> Mean centroid ---> normal distribution

In [28]:
import numpy as np
import pandas as pd

In [29]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [30]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [31]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

### Fill Missing value by SimpleImputer Library

In [32]:
from sklearn.impute import SimpleImputer   ## for fill missing data by mean

In [33]:
si= SimpleImputer(strategy='mean')

In [34]:
df['fever']= si.fit_transform(df[['fever']])

In [35]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [36]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

## Catagorical data convert into numerical data by using MAP function

In [37]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [38]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [39]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [40]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [41]:
df['gender']=df['gender'].map({'Female':0,'Male':1})   ## Map--->if any condition apply on 
df['cough']=df['cough'].map({'Mild':0,'Strong':1})     ## overall data using map function.
df['city']=df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})
df['has_covid']=df['has_covid'].map({'No':0,'Yes':1})

In [42]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0
3   31       0   98.0      0     0          0
4   65       0  101.0      0     3          0

In [43]:
x=df.drop(columns=['has_covid'])   ###Input data
y=df['has_covid']                  ###Target data

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [46]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [47]:
from sklearn.preprocessing import StandardScaler

In [48]:
si=StandardScaler()

In [49]:
x_train_sc=si.fit_transform(x_train)   #fit means learn the parameter and 
                                       #transform means apply on data

In [50]:
x_train_new=pd.DataFrame(x_train_sc, columns= x_train.columns)

In [51]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.19
25%    -0.94   -0.84  -0.51  -0.82  -1.19
50%    -0.04   -0.84   0.01  -0.82  -0.25
75%     0.91    1.19   0.53   1.22   0.70
max     1.69    1.19   1.57   1.22   1.64