In [1]:
#Feature engineering ----> This is a process we will set data s in an appropriate 
# format so that we can send it to  model training.

# Normal Distribution ----> in this distribution, points are equal(left side and right side)
# from the centroid.

# Mean centroid----> mean=0  , standard deviation=1

# standard deviation----> mean=0  , std=1

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"D:\Python\Data set\placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x=df.drop(columns=['placed'])  ###Input data
#x

In [6]:
y=df['placed']   ### Target data
#y

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
print('total DataFrame shape: ', df.shape)
print('---------------------------')
print('Input data(x) shape: ', x.shape)
print('x_train data shape: ',x_train.shape)
print('x_test data shape: ', x_test.shape)
print('---------------------------')
print('target data(y) shape: ', y.shape)
print('y_train data shape: ',y_train.shape)
print('y_test data shape: ', y_test.shape)

total DataFrame shape:  (100, 3)
---------------------------
Input data(x) shape:  (100, 2)
x_train data shape:  (80, 2)
x_test data shape:  (20, 2)
---------------------------
target data(y) shape:  (100,)
y_train data shape:  (80,)
y_test data shape:  (20,)

In [10]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()

In [13]:
x_train_sc=sc.fit_transform(x_train)    ## fit means learn the parameter and trandform mean apply on the data.

In [14]:
x_train_new=pd.DataFrame(x_train_sc, columns= x_train.columns)

In [15]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

In [16]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [17]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [18]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

### Fill Missing value by SimpleImputer Library

In [19]:
from sklearn.impute import SimpleImputer   ## for fill missing data by mean

In [20]:
si= SimpleImputer(strategy='mean')

In [21]:
df['fever']= si.fit_transform(df[['fever']])

In [22]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [23]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

## Catagorical data convert into numerical data by using MAP function

In [24]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [25]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [26]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [27]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [28]:
df['gender']=df['gender'].map({'Female':0,'Male':1})      
df['cough']=df['cough'].map({'Mild':0,'Strong':1})
df['city']=df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})
df['has_covid']=df['has_covid'].map({'No':0,'Yes':1})

In [29]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0
3   31       0   98.0      0     0          0
4   65       0  101.0      0     3          0

# Normalisation----> min_value=0,  max_value=1

In [30]:
import numpy as np
import pandas as pd

In [31]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")

In [32]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [33]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [34]:
from sklearn.impute import SimpleImputer   ## for fill missing data by mean

In [35]:
si= SimpleImputer()

In [36]:
df['fever']= si.fit_transform(df[['fever']])

In [37]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [38]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [39]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [40]:
df['gender']=df['gender'].map({'Female':0,'Male':1})   ## Map--->if any condition apply on 
df['cough']=df['cough'].map({'Mild':0,'Strong':1})     ## overall data using map function.
df['city']=df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})
df['has_covid']=df['has_covid'].map({'No':0,'Yes':1})

In [41]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0
3   31       0   98.0      0     0          0
4   65       0  101.0      0     3          0

In [42]:
x=df.drop(columns=['has_covid'])   ###Input data
y=df['has_covid']                  ###Target data

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [45]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
mn= MinMaxScaler()

In [48]:
x_train_mn=mn.fit_transform(x_train)

In [49]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [50]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

# Tips DataSet

In [51]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")

In [52]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [53]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [54]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [55]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [56]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [57]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [58]:
df['sex']=df['sex'].map({'Female':0,'Male':1})   
df['smoker']=df['smoker'].map({'No':0,'Yes':1}) 
df['day']=df['day'].map({'Sat':0,'Sun':1,'Thur':2,'Fri':3})   ## Map--->if any condition apply on 
df['time']=df['time'].map({'Dinner':0,'Lunch':1})

In [59]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    1     0     2
1       10.34  1.66    1       0    1     0     3
2       21.01  3.50    1       0    1     0     3
3       23.68  3.31    1       0    1     0     2
4       24.59  3.61    0       0    1     0     4

In [60]:
x=df.drop(columns=['size'])   
y=df['size']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [63]:
np.round(x_train.describe(),2)

       total_bill     tip     sex  smoker     day    time
count      195.00  195.00  195.00  195.00  195.00  195.00
mean        20.22    3.09    0.65    0.38    1.06    0.27
std          8.77    1.43    0.48    0.49    0.97    0.45
min          5.75    1.00    0.00    0.00    0.00    0.00
25%         13.66    2.00    0.00    0.00    0.00    0.00
50%         17.92    3.00    1.00    0.00    1.00    0.00
75%         24.86    3.70    1.00    1.00    2.00    1.00
max         50.81   10.00    1.00    1.00    3.00    1.00

In [64]:
from sklearn.preprocessing import MinMaxScaler

In [65]:
mn= MinMaxScaler()

In [66]:
x_train_mn=mn.fit_transform(x_train)

In [67]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [68]:
np.round(x_train_new.describe(),2)

       total_bill     tip     sex  smoker     day    time
count      195.00  195.00  195.00  195.00  195.00  195.00
mean         0.32    0.23    0.65    0.38    0.35    0.27
std          0.19    0.16    0.48    0.49    0.32    0.45
min          0.00    0.00    0.00    0.00    0.00    0.00
25%          0.18    0.11    0.00    0.00    0.00    0.00
50%          0.27    0.22    1.00    0.00    0.33    0.00
75%          0.42    0.30    1.00    1.00    0.67    1.00
max          1.00    1.00    1.00    1.00    1.00    1.00