In [1]:
# Data--> sparate (categorical,numerical)
# categorical data--> Simpleimputer fill-->Encode
#numerciral data---> SimpleImputer-->Standardization

# Apply--. Algoritham (LogisiticRegression)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"D:\Python\Data set\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [5]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
# Define  the column that need to be preprocessing
categorical_features=['gender','city']
numeric_features=['age','fever']

In [7]:
#create transformer
numeric_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())
])

categorical_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
])
#combine tranformer
preprocessor=ColumnTransformer(
    transformers=[
        ('num',numeric_transformer,numeric_features),
        ('cat',categorical_transformer,categorical_features)
    ])

#create the Pipeline
clf=Pipeline(steps=[('preprocessor',preprocessor),
                   ('classifier',LogisticRegression())])

#train the model
clf.fit(x_train,y_train)

# Evalute the model
y_pred=clf.predict(x_test)

In [8]:
#y_pred

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
acc=accuracy_score(y_test,y_pred)

In [11]:
acc

0.65

# Tips dataset

In [12]:
import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv(r"D:\Python\Data set\tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [15]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [16]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [17]:
categorical_features=[]
numeric_features=[]
for col in df.columns:
            if df[col].dtype=='object':
               categorical_features.append(col)
            else:
              numeric_features.append(col)
                
# df_categorical = df[categorical_features]
# df_numerical = df[numeric_features]


categorical_features
numeric_features

['total_bill', 'tip', 'size']

In [18]:
categorical_features=['sex','smoker','day']
numeric_features=['total_bill','tip','size']

In [19]:
x=df.drop(columns=['time'])
y=df['time']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [20]:
numeric_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())
])

categorical_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
])
preprocessor=ColumnTransformer(
    transformers=[
        ('num',numeric_transformer,numeric_features),
        ('cat',categorical_transformer,categorical_features)
    ])


clf=Pipeline(steps=[('preprocessor',preprocessor),
                   ('classifier',LogisticRegression())])

#train the model
clf.fit(x_train,y_train)

# Evalute the model
y_pred=clf.predict(x_test)

In [21]:
#y_pred

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
acc=accuracy_score(y_test,y_pred)

In [24]:
acc

1.0